{% extends "index.html" %}
{% block content %}
    <section>
            <img src="{{ url_for('static', filename='images/vigaT.png')}}" alt="botão da viga em I">
            <form action="">
                <h2>Especificação da Seção</h2>
                <div class="input-block">
                    <label for="number">d (cm)</label><br>
                    <input type="number" placeholder="parâmetro de entrada" id="d" class="input-field">
                </div>

                <div class="input-block">
                    <label for="number">h (cm)</label><br>
                    <input type="number" placeholder="parâmetro de entrada" id="h" class="input-field">
                </div>

                <div class="input-block">
                    <label for="number">bw (cm)</label><br>
                    <input type="number" placeholder="parâmetro de entrada" id="bw" class="input-field">
                </div>

                <h2>Solicitação</h2>
                <div class="input-block">
                    <label for="number">Momento Característico</label><br>
                    <input type="number" placeholder="parâmetro de entrada (KNcm)" id="M" step="0.001" class="input-field">
                </div>

                <h2>Material</h2>
                <div class="input-block">
                    <label for="#">Concreto</label><br>
                    <select id="concrete" name="#" class="input-field-selected">
                        <option value="concrete 1">Concrete 1</option>
                        <option value="concrete 2">Concrete 2</option>
                        <option value="concrete 3">Concrete 3</option>
                        <option value="concrete 4">Concrete 4</option>
                      </select>
                </div>
                <div class="input-block">
                    <label for="#">Aço</label><br>
                    <select id="concrete" name="#" class="input-field-selected">
                        <option value="Steel 1">Steel 1</option>
                        <option value="Steel 2">Steel 2</option>
                        <option value="Steel 3">Steel 3</option>
                        <option value="Steel 4">Steel 4</option>
                      </select>
                </div>

                <h2> Detalhamento </h2>
                <div class="input-block">
                    <label for="#">Armadura Lontidudinal</label><br>
                    <select id="concrete" name="#" class="input-field-selected">
                        <option value="5 φ">5 φ</option>
                        <option value="6,3 φ">6,3 φ</option>
                        <option value="8 φ">8 φ</option>
                        <option value="10 φ">10 φ</option>
                        <option value="12,5 φ">12,5 φ</option>
                        <option value="16 φ">16 φ</option>
                        <option value="20 φ">20 φ</option>
                        <option value="22,5 φ">22,5 φ</option>
                        <option value="25 φ">25 φ</option>
                        <option value="35 φ">35 φ</option>
                      </select>
                </div>
                <div class="input-block">
                    <label for="#">Armadura Transversal</label><br>
                    <select id="concrete" name="#" class="input-field-selected">
                        <option value="5 φ">5 φ</option>
                        <option value="6,3 φ">6,3 φ</option>
                        <option value="8 φ">8 φ</option>
                        <option value="10 φ">10 φ</option>
                        <option value="12,5 φ">12,5 φ</option>
                        <option value="16 φ">16 φ</option>
                        <option value="20 φ">20 φ</option>
                        <option value="22,5 φ">22,5 φ</option>
                        <option value="25 φ">25 φ</option>
                        <option value="35 φ">35 φ</option>
                      </select>
                </div>            
            </form>

            <button type="button" id="calcula">Calcular</button>
    </section>
    
    {% endblock %}